.forgot-password {
  margin-top: 10px;
  text-align: right;
}

.forgot-password a {
  font-size: 14px;
  color: #4caf50;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
